<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ AndroidManifest.xml
  ~ Created by Jose Luis Moreno on 5/5/19 1:15 PM
  ~ MIT License 
  ~ Copyright (c) 2019 Mauricio Abbati Loureiro - Jose Luis Moreno Varillas
  ~ Last modified 4/19/19 8:30 PM
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucm.fdi.android.speechtotext">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/iconlowdensity"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconlowdensity"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
