[Unit]
Description=Jarvis Actions Service
After=network.target

[Service]
Type=simple
User=tfg-biblio
Group=tfg-biblio
WorkingDirectory=/home/tfg-biblio/Jarvis/
ExecStart=/usr/bin/python3 JarvisMain.py

[Install]
WantedBy=multi-user.target
